@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/* font-family: 'Mukta', sans-serif; */
.opcions{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border-left: 2px solid rgb(57, 167, 57);
    animation-iteration-count: 1;
    animation: 2s slide !important;
    animation-fill-mode: forwards;
    margin: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.068);
}

@keyframes slide{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}