@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
.title-interes{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
h4{
    font-family: 'Mukta', sans-serif;
    color: rgb(42, 42, 46); 
    font-weight: bold;
}