@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/* font-family: 'Mukta', sans-serif; */
.nav-title{
    font-family: 'Mukta', sans-serif;
    font-weight: bolder;
    overflow-y: hidden;
}
.icon-nav{
    width:320px;
    margin-top: 7px;
    cursor: pointer;
}