.index-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 1rem;
}
.index-header-img {
    width: 300px;
    border-radius: 20px;
}
.index-header .description {
    text-align: center;
}